<tr class="<%= cycle('even', 'odd') %>" id="user-<%= user.id %>">
  <td><%= user.full_name %></td>
  <td><%= user.email %></td>
  <td><%= user.created_at %></td>
  <td><%= render :partial => "teach_form", :locals => {:user => user }%></td>
</tr>