<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %> <%= current_user.email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :avatar %><br />
    <%= f.text_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :skype %><br />
    <%= f.text_field :skype %>
  </div>

  <div class="field">
    <%= f.label :facebook %><br />
    <%= f.text_field :facebook %>
  </div>

  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :dob %><br />
    <%= f.date_select :dob, :start_year=>1920, :end_year=>2016 %>
  </div>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>



<%= link_to "Back", :back %>

<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Sửa thông tin tài khoản</h3>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <div class="box-body">
      <%= devise_error_messages! %>
      <div class="form-group">
        <label for="email">Email: <%= current_user.email %></label>
        <label for="username">Tên tài khoản: <%= current_user.username %></label>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Đang đợi xác nhận email: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="form-group">
        <%= f.label :full_name %><br />
        <%= f.text_field :full_name, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :avatar %><br />
        <%= f.text_field :avatar, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :skype %><br />
        <%= f.text_field :skype, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :facebook %><br />
        <%= f.text_field :facebook, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :phone %><br />
        <%= f.text_field :phone, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %><br />
        <%= f.text_field :address, :class => "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :dob %><br />
        <%= f.text_field :dob, :class => "form-control", "data-inputmask" => "'alias': 'dd/mm/yyyy'", "data-mask" => "" %>
      </div>
      <div class="field">
        <%= f.label :password %> <i>(bỏ qua nếu không muốn thay đổi)</i><br />
        <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(bạn cần nhập password hiện tại để xác nhận thay đổi)</i><br />
        <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
      </div>

    </div><!-- /.box-body -->

    <div class="box-footer">
      <button type="submit" class="btn btn-primary">Cập nhật</button>
    </div>
  <% end %>
</div>
<div class="box box-primary">
  <div class="box-header">
    <h3 class="box-title">Xóa tài khoản</h3>
  </div><!-- /.box-header -->
  <!-- form start -->
    <div class="box-body">
      <div class="form-group">
        Bạn có muốn xóa tài khoản hiện tại ? Tài khoản bị xóa sẽ không thể lấy lại
        <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Bạn có chắc chắn không?" }, method: :delete, :class => "btn btn-primary" %></p>
      </div>
    </div>
</div>