<tr class="<%= cycle('even', 'odd') %>" id="user-<%= user.id %>">
  <td><%= user.full_name %></td>
  <td><%= user.email %></td>
  <td><%= user.username %></td>
  <td><%= user.created_at %></td>
  <td><%= render :partial => "courses/course_form", :locals => {:user => user, :course => course }%></td>
</tr>