<% provide(:title, "Danh sách khóa học") %>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <!--<h3 class="box-title">Danh sách khóa học</h3>-->
        <div class="box-tools">
          <!--<form action="<%= courses_path(@course) %>" method="get" remote="true">-->
            <div class="input-group">
              <input type="text" name="q" class="form-control input-sm pull-right" style="width: 150px;" data-remote="true" placeholder="Tìm kiếm">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          <!--</form>-->


        </div>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <%= render :partial => "courses" %>
      </div><!-- /.box-body -->
        <div class="box-footer clearfix">
          <div class="row">
            <div class="col-xs-4">
              <div class="dataTables_info" id="courses_info"><%= page_entries_info @courses, :entry_name => 'Khóa học' %></div>
            </div>
            <div class="col-xs-8">
              <div class="dataTables_paginate paging_bootstrap text-right">
                <div id="paginator">
                  <%= paginate @courses, :remote => true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.box -->
  </div>
</div>

<%= link_to 'Thêm khóa học', new_course_path %>