<% provide(:title, "Chi tiết khóa học") %>
<p id="notice"><%= notice %></p>

Name: <%= @course.name %> <br />
Description: <%= @course.description %><br />

Số học viên: <%= @course.students.size %> <br />

<%= link_to 'Quản lý học viên', course_student_path(@course) %><br />

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
