<% provide(:title, "Danh sách bài kiểm tra") %>
<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <div class="box-tools">
          <%= render :partial => "layouts/filter_header", :locals => {:in_course => false }%>
        </div>
      </div><!-- /.box-header -->
      <div class="box-body table-responsive no-padding">
        <%= render :partial => "tests" %>
      </div><!-- /.box-body -->
      <div class="box-footer clearfix">
        <div class="row">
          <div class="col-xs-4">
            <div class="dataTables_info" id="tests_info"><%= page_entries_info @tests, :entry_name => 'Bài kiểm tra' %></div>
          </div>
          <div class="col-xs-8">
            <div class="dataTables_paginate paging_bootstrap text-right">
              <div id="paginator">
                <%= paginate @tests, :remote => true %>
              </div>
            </div>
          </div>
        </div>
        <br />
        <%= link_to 'Thêm bài kiểm tra', new_test_path %>
      </div>
    </div>
  </div><!-- /.box -->
</div>
</div>

